.header {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 0 16px;
    height: 100%;
}

.logo {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 74px 0;
    font-size: 36px;
    font-family: 'Segoe UI', Arial, sans-serif;

}