.projects {
    background-color: #f1f1f1;
    color: #000;
}

.projects__header {
    padding: 64px 0;
    text-align: center;
}

.projects__header h3 {
    margin: 10px 0 15px;
}

.projects__footer {
    padding: 24px 0;
    text-align: center;
}